{
	"printWidth": 80,
	"arrowParens": "always",
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"jsxSingleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"endOfLine": "lf",
	"singleAttributePerLine": true
}
